.message-form {
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 600px;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.message-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    outline: none;
}

.send-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #388e3c;
}
